---
import Layout from "../layouts/LinkLayout.astro";
import Link from "../components/Link.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Joshua Connor</h1>
    <p>
      To get started, open the directory <code>src/pages</code> in your project.<br
      />
      <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
    </p>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    width: 600px;
    border: 1px solid black;
    background-color: white;
    border-radius: 30px;
  }
  h1 {
    text-align: center;
  }
</style>
